@media screen and (max-width: 720px) {


  .side-nav a{
    font-size: 2vmax;
  }
  .side-nav li{
    margin: 0;
  }
  .side-nav ul, .side-nav ol{
    justify-content: left;
    padding-left: 0rem;
  }

   .modal {
    width: 360px;
    height: 100px;
    grid-auto-columns: 1fr 40px;
  }
  .modal span {
    font-size: 30px;
  }
  .modal p {
    font-size: 12px;
  }
  .modal i {
    font-size: 12px;
  }
  .modal div {
    font-size: 12px;
  }
  .alert {
    width: 360px;
    height: 100px;
    grid-auto-columns: 1fr 40px;
  }
  .alert span {
    font-size: 30px;
  }
  .alert p {
    font-size: 12px;
  }
  .alert i {
    font-size: 12px;
  }

  
  .nav-i{
    display:initial;
    cursor: pointer;
  }
  nav{
    display:none;
  }

  .navigation-container img{
    max-width: 6rem;
    max-height: 4rem;
  }
  .nav-heading{
    font-size: 1rem;
  }

  .list-stacked li, .list-spaced li{
    line-height: 1em;
    font-size: 1em;
  }

  .side-nav{
    position: absolute;
    border-right: none;
  }

  .font.heading1{
    font-size: 2rem;
    font-weight: bolder;
  }
  .font.heading2{
    font-size: 1.5rem;
    font-weight: bold;
  }
  .font.heading3{
    font-size: 1.25rem;
    font-weight: normal;
  }
  .font.heading4{
    font-size: 1rem;
    font-weight: normal;
  }
  .font.heading5{
    font-size: 0.75rem;
    font-weight: normal;
  }
  .font.heading6{
    font-size: 0.5rem;
    font-weight: normal;
  }
}