<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/styles.css" rel="stylesheet" />
    <link href="/mobile.layout.css" rel="stylesheet" />
    <link href="/desktop.layout.css" rel="stylesheet" />
    <style>
        iframe{
            margin-top: 0.5rem;
        }
    </style>
</head>

<body>
    <header>
        <div class="navigation-container">
            <i class="fa fa-bars nav-i"></i>
            <img src="../imgs/insight.svg" alt="logo" />
            <h1 class="nav-heading">CSS CONTROL</h1>
            <nav>
                <ul class="nav-list">
                    <li><a class="nav-link" href="../index.html">Home</a></li>
                    <li><a class="nav-link active" href="./GettingStarted.html">Components</a></li>
                    <li><a class="nav-link" href="https://github.com/sajag-agarwal/CSSControl/">GITHUB</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="side-nav">
        <ul class="list">
            <li><a href="./GettingStarted.html">Getting Started</a></li>
            <li><a class="active" href="./Avatar.html">Avatar</a></li>
            <li><a href="./Alert.html">Alert</a></li>
            <li><a href="./Badge.html">Badge</a></li>
            <li><a href="./Button.html">Button</a></li>
            <li><a href="./Card.html">Card</a></li>
            <li><a href="./Image.html">Image</a></li>
            <li><a href="./Input.html">Input</a></li>
            <li><a href="./List.html">List</a></li>
            <li><a href="./Modal.html">Modal</a></li>
            <li><a href="./Navigation.html">Navigation</a></li>
            <li><a href="./Rating.html">Rating</a></li>
            <li><a href="./TextUtilities.html">Text Utilities</a></li>
            <li><a href="./Toast.html">Toast</a></li>
        </ul>
    </div>
    <div class="content">
        <h1 class="gray">Avatar</h1>
        <p style="font-size: 1.1rem; "></p>
        <hr>

        <h2 class="gray">Avatars with different sizes</h2>
        <img src="https://via.placeholder.com/750" alt="img" class="avatar small" />
        <img src="https://via.placeholder.com/750" alt="img" class="avatar medium" />
        <img src="https://via.placeholder.com/750" alt="img" class="avatar large" />
        <iframe src="https://carbon.now.sh/embed/KPaD1H9qUItU75cU9wur"
            style="width: 687px; height: 130px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>

        <h2 class="gray">Circular Avatars with different sizes</h2>
        <img src="https://via.placeholder.com/750" alt="img" class="avatar small avatar-circular" />
        <img src="https://via.placeholder.com/750" alt="img" class="avatar medium avatar-circular" />
        <img src="https://via.placeholder.com/750" alt="img" class="avatar large avatar-circular" />
        <iframe src="https://carbon.now.sh/embed/hjND900BFqLmv3x520C4"
            style="width: 822px; height: 130px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>

        <h2 class="gray">Circular Avatar with Badge</h2>
        <div class="avatarbadge">
            <img src="https://via.placeholder.com/750" alt="img" class="avatar medium avatar-circular" />
            <i class="fa fa-circle active"></i>
        </div>
        <div class="avatarbadge">
            <img src="https://via.placeholder.com/750" alt="img" class="avatar medium avatar-circular" />
            <i class="fa fa-moon-o inactive"></i>
        </div>
        <iframe src="https://carbon.now.sh/embed/daU0QCOtorvhukbn0kHD"
            style="width: 856px; height: 148px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>

    </div>
</body>

</html>