<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/styles.css" rel="stylesheet" />
    <link href="/mobile.layout.css" rel="stylesheet" />
    <link href="/desktop.layout.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="../imgs/insight.svg">
</head>

<body>
    <header>
        <div class="navigation-container">
            <i class="fa fa-bars nav-i" onclick="burgerClick()"></i>
            <img src="../imgs/insight.svg" alt="logo" />
            <h1 class="nav-heading">CSS CONTROL</h1>
            <nav>
                <ul class="nav-list">
                    <li><a class="nav-link" href="../index.html">Home</a></li>
                    <li><a class="nav-link active" href="./GettingStarted.html">Components</a></li>
                    <li><a class="nav-link" href="https://github.com/sajag-agarwal/CSSControl/">Github</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="side-nav">
        <ul class="list">
            <li><a href="./GettingStarted.html">Getting Started</a></li>
            <li><a href="./Avatar.html">Avatar</a></li>
            <li><a href="./Alert.html">Alert</a></li>
            <li><a href="./Badge.html">Badge</a></li>
            <li><a href="./Button.html">Button</a></li>
            <li><a href="./Card.html">Card</a></li>
            <li><a href="./Image.html">Image</a></li>
            <li><a href="./Input.html">Input</a></li>
            <li><a href="./List.html">List</a></li>
            <li><a class="active" href="./Modal.html">Modal</a></li>
            <li><a href="./Navigation.html">Navigation</a></li>
            <li><a href="./Rating.html">Rating</a></li>
            <li><a href="./TextUtilities.html">Text Utilities</a></li>
            <li><a href="./Toast.html">Toast</a></li>
        </ul>
    </div>
    <div class="content">
        <h1 class="gray">Modal</h1>
        <p>A modal is a dialog box/popup window that is displayed on top of the current page.</p>
        <hr>

        <h2 class="gray">Modal</h2>
        <button class="button button-primary button-modal" onclick="showModalOnClick(`Modal1`)">Show Modal</button>
        <div class="modal-container" id="Modal1">
            <div class="modal">
                <span>Success!</span>
                <i class="fa fa-close" onclick="closeModalOnClick(`Modal1`)"></i>
                <p>Congratulations! Task was successfully completed.</p>
                <div>
                    <button class="button button-secondary">Button 1</button>
                    <button class="button button-secondary">Button 2</button>
                </div>
            </div>
        </div>
        
        <iframe src="https://carbon.now.sh/embed/HEvL7npatj9nEbf5qJGK"
            style="width: 940px; height: 258px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
        
    </div>

    

    <script src="../scriptfile.js"></script>
</body>

</html>