<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utilities</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/styles.css" rel="stylesheet" />
    <link href="/mobile.layout.css" rel="stylesheet" />
    <link href="/desktop.layout.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="./imgs/insight.svg">
</head>

<body>
    <header>
        <div class="navigation-container">
            <i class="fa fa-bars nav-i"></i>
            <img src="../imgs/insight.svg" alt="logo" />
            <h1 class="nav-heading">CSS CONTROL</h1>
            <nav>
                <ul class="nav-list">
                    <li><a class="nav-link" href="../index.html">Home</a></li>
                    <li><a class="nav-link active" href="./GettingStarted.html">Components</a></li>
                    <li><a class="nav-link" href="https://github.com/sajag-agarwal/CSSControl/">Github</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="side-nav">
        <ul class="list">
            <li><a href="./GettingStarted.html">Getting Started</a></li>
            <li><a href="./Avatar.html">Avatar</a></li>
            <li><a href="./Alert.html">Alert</a></li>
            <li><a href="./Badge.html">Badge</a></li>
            <li><a href="./Button.html">Button</a></li>
            <li><a href="./Card.html">Card</a></li>
            <li><a href="./Image.html">Image</a></li>
            <li><a href="./Input.html">Input</a></li>
            <li><a href="./List.html">List</a></li>
            <li><a href="./Modal.html">Modal</a></li>
            <li><a href="./Navigation.html">Navigation</a></li>
            <li><a href="./Rating.html">Rating</a></li>
            <li><a class="active" href="./TextUtilities.html">Text Utilities</a></li>
            <li><a href="./Toast.html">Toast</a></li>
        </ul>
    </div>
    <div class="content">
        <h1 class="gray">Text Utilities</h1>
        <p style="font-size: 1.1rem; ">Text Utilities like centered text, headings and gray text are used often.</p>
        <hr>

        <h2 class="gray">Center Gray Heading</h2>
        <h1 class="font center gray">Center Gray Heading</h1>
        <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=night-owl&wt=none&l=auto&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Ch1%2520class%253D%2522font%2520center%2520gray%2522%253ECenter%2520Gray%2520Heading%253C%252Fh1%253E"
            style="width: 485px; height: 93px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
        
        <h2 class="gray">Headings</h2>
        <div class="font heading1">Heading 1</div>
        <div class="font heading2">Heading 2</div>
        <div class="font heading3">Heading 3</div>
        <div class="font heading4">Heading 4</div>
        <div class="font heading5">Heading 5</div>
        <div class="font heading6">Heading 6</div>
        <iframe src="https://carbon.now.sh/embed/6CdlOpL7c73gwU6Qo3k2"
            style="width: 392px; height: 185px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>

    </div>
</body>

</html>